<H1>Eventos</H1>
<hr>

<div  class="form-inline">
  <div class="form-group mb-2">
    <label class="mr-2Filtro">Filtro:</label>
    <input
     type="text" class="form-control mr-1"
      placeholder="digite.."
      [(ngModel)]="filtroLista">
  </div>
</div>

<table class="table table-striped">
<thead class="thead-dark">
  <tr>
    <th>
      <button class="btn btn-outline-light btn-sm" (click)="isCollapsed = !isCollapsed"  type="button" data-bs-toggle="collapse" >
      {{isCollapsed? 'Esconder' : 'exibir'}}
    </button>
  </th>
    <th>#</th>
    <th>Tema</th>
    <th>Local</th>
    <th>Data</th>
    <th>Qtd Pessoas</th>
    <th>Lote</th>
    <th>Opções</th>
  </tr>
</thead>
<tbody *ngIf="eventos">
  <tr *ngFor="let evento of eventosFiltrados">
    <td >
      <img *ngIf="isCollapsed"  src="/assets/{{evento.imageURL}}" width="100px">
    </td>
    <td>{{evento.eventoId}}</td>
    <td>{{evento.tema}}</td>
    <td>{{evento.local}}</td>
    <td>{{evento.dataEvento}}</td>
    <td>{{evento.qydPessoas}}</td>
    <td>{{evento.lote}}</td>
    <td>
      <button type="button" class="btn btn-primary btn-sm mr-2">Editar</button>
      <button type="button" class="btn btn-danger btn-sm">Excluir</button>
    </td>
  </tr>
</tbody>
<tfoot *ngIf="!eventos">
  <tr>
  <td colspan="8" class="text-center">
    <h4>Nenhum evento encontrado!</h4>
  </td>
</tr></tfoot>
</table>


